pkgbase = android-tools
	pkgdesc = Android platform tools
	pkgver = 34.0.5
	pkgrel = 1
	url = http://tools.android.com/
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = gtest
	makedepends = cmake
	makedepends = go
	makedepends = ninja
	makedepends = git
	depends = libusb
	depends = protobuf
	depends = brotli
	depends = zstd
	depends = android-udev
	depends = pcre2
	source = https://github.com/nmeum/android-tools/releases/download/34.0.5/android-tools-34.0.5.tar.xz
	sha256sums = fb09cff12cfb82acf42a8ebebbc0342671bfcd02117716368bdc73fdda60304a

pkgname = android-tools
