pkgbase = android-tools
	pkgdesc = Android platform tools
	pkgver = 35.0.2
	pkgrel = 12
	url = http://tools.android.com/
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = gtest
	makedepends = cmake
	makedepends = go
	makedepends = ninja
	makedepends = git
	depends = fmt
	depends = protobuf
	depends = brotli
	depends = zstd
	depends = android-udev
	depends = pcre2
	optdepends = python: {mk,unpack_,repack_}bootimg and mkdtboimg support
	source = https://github.com/nmeum/android-tools/releases/download/35.0.2/android-tools-35.0.2.tar.xz
	source = android-tools-35.0.2-fix-protobuf-30.0-compilation.patch
	sha256sums = d2c3222280315f36d8bfa5c02d7632b47e365bfe2e77e99a3564fb6576f04097
	sha256sums = cd2034ca35c3b5ca82f095106cd099abdbc5a682b7b9892eb0ebead616370e96

pkgname = android-tools
