pkgbase = android-tools
	pkgdesc = Android platform tools
	pkgver = 35.0.1
	pkgrel = 2
	url = http://tools.android.com/
	arch = x86_64
	license = Apache
	license = MIT
	makedepends = gtest
	makedepends = cmake
	makedepends = go
	makedepends = ninja
	makedepends = git
	depends = libusb
	depends = protobuf
	depends = brotli
	depends = zstd
	depends = android-udev
	depends = pcre2
	optdepends = python: {mk,unpack_,repack_}bootimg and mkdtboimg support
	source = https://github.com/nmeum/android-tools/releases/download/35.0.1/android-tools-35.0.1.tar.xz
	sha256sums = 654030c7f96d25d7224cd6861fac14a043cf1d3980f40288cdfbe219f94ffaf9

pkgname = android-tools
